@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HowToDoSomething";
    src: url(../assets/fonts/HowToDoSomething.ttf);
}

body {
    margin: 0;
}

.app-title {
    font-family: "HowToDoSomething";
}

@layer components {
    .debug {
        @apply border border-red-500;
    }
}



@keyframes rainbowEffect {
    0% {
        background-color: #1a9ece;
    }

    25% {
        background-color: #36c3df;
    }

    50% {
        background-color: #ef4a2e;
    }

    75% {
        background-color: #f9ab56;
    }

    100% {
        background-color: #faed23;
    }
}